<ion-view view-title="About Us">
  
	<!-- Aditya Kumar- 23 April 2016 -Change -->
	
	
	
	
	<ion-content>
 <div class="card">
  <div class="item item-divider">
  Who we are?
  </div>
	 <br>
	 
	  <img class="full-image" src="img/media/about1.png">
	 <br>
	 
  <div class="item item-text-wrap">
  SearchAround offers the very best Services to Customers near their Area within a warm and welcoming environment. We are committed to providing our Customers with a place and space to grow: uniquely, individually, expressively, technically, passionately and with excellence.
We offer Coupons and Vouchers in a diverse and extensive Services from Dance Class to Swimming Class to Gym to Spa. 
Currently We are Active in Jaipur(Rajasthan) and Expanding our Networks Fast to achieve the Desired Goal.

<br>
We're a growing and diverse team of developers, technologists, system engineers, tech geeks,and people who take daily multi-vitamins. We hope you like us. We really hope you like us. We are Team SearchAround, under B.R.B Pvt Ltd. 

<br>
	  <br>
	   <div class="item item-divider">
 Want to know more? <br>
		   <div class="item item-button-right">
  info@searcharound.in
			   </div>
	  
  </div>

  </div>
 
</div>
	
  </ion-content>
</ion-view>
