<ion-view view-title="SearchAround">
  <ion-content style="">
     <div class="cate-lv2" style="">
        
         
         <div class="list card" ng-repeat="list in lists | filter:search">
<a href="#/app/detail/{{list.id}}">
  <div class="item item-avatar">
 <!--   <img src="img/{{list.head}}/{{list.image}}">-->
      <img src="img/data_images/{{list.image}}">
    <h2>{{list.name}}</h2>
    <p>{{list.address}}</p>
    <p>{{list.email}}</p>
    <p>{{list.mobile}}</p>
  </div></a>

  

</div>
         
         
  </div>
  </ion-content>
</ion-view> 