<ion-view view-title="Contact Us">
	
	
	
	
		<!-- Aditya Kumar- 23 April 2016 -Change -->
	
	
	
	
	
	
	
  <ion-content>
	   <div class="cate-lv2" style="">
	<form action="php/order.php" method="post">
      <div class="list card">
          
      <div class="item item-body">
		  Query Type*
          <div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Query type*">
	  <ion-view title="Drop down list">
          <div class="list list-inset">
              <label class="item item-input item-select">
                  <div class="input-label">
                      &nbsp;
                  </div>
                  <select>
					  <option selected>Select</option>
                      <option>I want to grab a Service</option>
                      <option >I have already grabbed a Service</option>                    
                  </select>
              </label>
          </div>
       
  </ion-view>
	  
	  
	  
	  
	  
	  
	  
  </label>
			  <br>
			  Reason for writing*
			   <br> <br>
			 <label class="item item-input">
    <input type="text" placeholder="Query type*">
	  <ion-view title="Drop down list">
          <div class="list list-inset">
              <label class="item item-input item-select">
                  <div class="input-label">
                      &nbsp;
                  </div>
                  <select>
					  <option selected>Select</option>
                      <option>Service Information</option>
                      <option >Unable to Grab the Service</option>       
					  <option>Issue with my Account</option>
					  <option>I have not received a Confirmation</option>
					  <option>Query</option>
					  
					  
                  </select>
              </label>
          </div>
       
  </ion-view>
	  
	  
	  
	  
	  
	  
	  
  </label>  
			  
			  
			  
			<br>
			  Name*
			  <br><br>
	<label class="item item-input">
    <input type="email" placeholder="">
  </label>		  
			  
			  
			  
			  
		<br>
			  Email*
			  <br><br>	  
			  
  <label class="item item-input">
    <input type="email" placeholder="">
  </label>
			  <br>
			  Phone*
			  <br><br>
  <label class="item item-input">
    <textarea placeholder=""></textarea>
  </label>
			  <br>
			  Comments*
			  <br><br>
  <label class="item item-input">
    <textarea placeholder=""></textarea>
  </label>
    <button class="button button-full button-positive">
  Submit
</button>
</div>
          </div>
      </div>
          </form>
	  
	  
	  </div>
	  

  <div class="item item-divider">
  Still puzzled? Call Us 
	  
  </div>
  <div class="item item-text-wrap">
   <div class="item item-button-right">
  0141- 4027164 
    <button class="button button-positive">
      <i class="icon ion-ios-telephone"></i>
    </button>
  </div>

 <br>
   &nbsp; 24X7 Customer Care
  </div>

	  
	  
	  
  </ion-content>
</ion-view>
