<ion-view view-title="Follow Us">
	
	
		<!-- Aditya Kumar- 23 April 2016 -Change -->
	
	
	
	
	
	
	
	
  <ion-content>
    <br>
	  <br>
	 
	  <div class="list card">

  <a href="https://www.facebook.com/searcharound/" class="item item-icon-left">
    <i class="ion-social-facebook"></i>
   &nbsp; &nbsp; Click to Like us on Facebook
  </a>

  <a href="https://www.twitter.com/searcharound" class="item item-icon-left">
    <i class="ion-social-twitter"></i>
  &nbsp; &nbsp;  Click to follow us on Twitter
  </a>

  <a href="https://plus.google.com/103262047717970859686" class="item item-icon-left">
    <i class="ion-social-googleplus"></i>
  &nbsp; &nbsp;  Click to follow us on Google Plus
  </a>

  <a href="https://www.linkedin.com/company/searcharound" class="item item-icon-left">
    <i class="ion-social-linkedin"></i>
&nbsp; &nbsp;   Click to follow us on Linkedin
  </a>

</div>
	  
	  
	  
	  
  </ion-content>
</ion-view>
