<ion-view view-title="Media">
	
	
	
		<!-- Aditya Kumar- 23 April 2016 -Change -->
	
	
	
	
  <ion-content>
    
	  
	  
	  <div class="list card">

  <div class="item item-avatar">
    <h2>YourStory</h2>
    <p>July 17, 2015</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/media/YourStory_feature.png">
    <p>
      Four engineering students bring hyperlocal services to Jaipur, build SearchAround.
		SearchAround, a hyperlocal startup based out of Jaipur, Rajasthan. According to Co-founder, they started out to solve a problem everyone faces – finding places and services in one’s locality. “In order to connect people with places and services, we decided to start SearchAround,”
    </p>
    <p>
      <a href="http://yourstory.com/2015/07/searcharound/" class="subdued">Click to Know more</a>
    </p>
  </div>

</div>
	  
	  
	  
	   <div class="list card">

  <div class="item item-avatar">
    <h2>Rajasthan Patrika</h2>
    <p>Feb 17, 2016</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/media/news2.png">
    <p>
     वेबसाइट बनाकर वे आज के लोगों की मदद कर रहे- SearchAround<br> चार इंजीनियरिंग छात्रों के लिए जयपुर hyperlocal सेवाओं को लाने , SearchAround का निर्माण।
		"आदेश स्थानों और सेवाओं के साथ लोगों को जोड़ने के लिए, हम SearchAround शुरू करने का फैसला किया, "
    </p>
   
  </div>

</div>
	  
	  
	  
	  
	   <div class="list card">

  <div class="item item-avatar">
    <h2>Networked India</h2>
    <p>July, 2015</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/media/news3.png">
    <p>
     SearchAround: The Fun &amp; Easy Way To Find Services <br>
		If you are new to a place and want to know where all the essential service providers are located, how do you go about finding them? In another era, you would have to depend on friendly locals to guide you. Now you have friendly locals and digital help from startups. One such new player is called SearchAround, a hyperlocal based out of Jaipur, Rajasthan.
    </p>
    <p>
      <a href="http://www.networkedindia.com/2015/07/17/searcharound-the-fun-easy-way-to-find-services/" class="subdued">Click to Know more</a>
    </p>
  </div>

</div>
	  
	  
	  
	  
	  
	  	  
	   <div class="list card">

  <div class="item item-avatar">
    <h2>Tropical Post</h2>
    <p>July, 2015</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/media/news4.png">
    <p>
    SearchAround – For reliable hyper-local services across Jaipur <br>
		Here users can avail information related to prices and discounts. The team is focused on values like ethics, honesty, trust, customer satisfaction.  Here people from any walk of life an age group can avail benefits. The internet revolution is likely to give its further impetus here.
    </p>
    <p>
      <a href="http://tropicalpost.com/2015/07/20/searcharound-for-reliable-hyper-local-services-across-jaipur/" class="subdued">Click to Know more</a>
    </p>
  </div>

</div>
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
  </ion-content>
</ion-view>
